/* reset CSS */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: "";
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* font */

@import url(https://fonts.bunny.net/css?family=noto-serif:400,400i,700,700i);

body {
    font-size: 1em;
    font-family: "Noto Serif", serif;
}

.body2 {
    position: relative;
    z-index: 2;
    margin-bottom: 19.75rem;
    background-color: var(--background-color);
}

/* variable */

:root {
    --background-color: #fff;
    --shadow: rgba(0, 0, 0, 0.15) 0 .5rem 1rem 0
}

/* header */

header {
    height: 3.5rem;
    padding: 0.5rem 19.1875rem  0 19.1875rem;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 81rem;
    background-color: #fff;
    border-bottom: rgba(0, 0, 0, 0.247) solid .0625rem ; 

}

.logo {
    margin: 0 1.5rem 0 0;
    height: 2.5rem;
}

nav {
    background-color: var(--background-color);
    color: black;
    font-size: 1em;
    display: flex;
    justify-content: space-between;
}

.header_gauche {
    display: flex;
    flex-direction: row;
}

nav ul {
    list-style: none;
    display: flex;
    align-items: center;
}

nav ul li a {
    display: block;
    margin: 0 0.5rem;
    text-decoration: none;
    color: rgba(0, 0, 0, 0.7);
}

nav ul li a:hover {
    color: rgb(0, 0, 0);
}

.contact_button, .boutton_envoyer{
    background-color: #bf3308;
    border: none;
    color: white;
    padding: .75rem;
    text-decoration: none;
    display: inline-block;
    border-radius: .25rem;

}

.contact_button:hover, .boutton_envoyer:hover{
    background-color: #a22b07;

}
/* body */
.titre {
    background-color: #294755;
    height: 6.5rem;
    align-items: center;
    display: flex;
    margin-top: 65px;
}

h1 {
    color: white;
    font-size: 2.5em;
    margin-left: 19.1875rem;

}

.intro{
    margin-bottom: .75rem;
    line-height: 1.5rem;
}
.bloc_gauche {
    display: flex;
    flex-direction: column;
    width: 70% ;

}

.formulaire{
    display: flex;
    flex-direction: column;
    
}

.bloc_complet{
    display: flex;
    flex-direction: row;
    
    margin : 2.5rem 19.1875rem ;
}

.bloc_contact, .bloc_gauche{
    margin: 0 .9375rem;
}

.divnom, .divtel, .divmail, .divsujet, .divquestion{
    display: flex;
    justify-content: space-between;
    margin: .75rem 0 .75rem 0;
    font-weight: bold;
    align-items: center;
    
}

input, textarea{
    border : 1px solid rgba(0, 0, 0, 0.205);
    border-radius: .25rem;
    resize: vertical;
    height: 2.375rem;
    width: 40.625rem;

}


.boutton_envoyer{
    width: 7.0625rem;
    margin: 2.25rem 0 3rem 14.5rem ;
    cursor: pointer;
}

.bloc_contact div{
    margin: 0.5rem  0;
}


/* footer */

footer {
    background-color: black;
    display: flex;
    margin: 4rem 0 0 0;
    padding: 2.875rem 19.1875rem 2rem 19.1875rem;
    flex-direction: column;
    position: fixed;
    bottom: 0;
}

.footerbas {
    display: flex;
    justify-content: space-between;
}

.apropos {
    color: #fff;
    display: flex;
    flex-direction: column;
    width: 40%;
    line-height: 1.5rem;
}

.title_apropos {
    color: #fff;
    font-size: 1.5em;
    margin: 0 0 1.9375rem 0;
    font-weight: bold;
}

.apropos p {
    margin: 0 0 1rem 0;
}

.adress {
    color: #ffffffb2;
    line-height: 1.5rem;
}

.fc {
    font-weight: bold;
}

.plv {
    font-style: italic;
}

.tel, .mail {
    margin: 0.25rem 0.25rem 0.25rem 0.9375rem;
}

.contact span {
    color: white;
    margin-right: 0.75rem;
}

.contact a {
    color: #f6511e;
    text-decoration: none;
}

.contact a:hover {
    color: #bf3308;
    text-decoration: none;
}

.social {
    display: flex;
    margin: 0.5rem 0 0 1.375rem;
}

.social a {
    margin: 0.4375rem;
    font-size: 1em;
}
.chevron{
    display: flex;
    justify-content: center;
    color: #ffffffb2;
    text-decoration: none;

}
.chevron:hover{
    color: white
}